$메인칼라 : #ff0000;

.red {
  color : $메인칼라;
}

//nesting
// div.container {
//     h4 {
//       color : blue;
//     }
//     p {
//       color : green;
//     }
//   }

@mixin 함수() {
    background : #eeeeee;
    padding : 15px;
    border-radius : 5px;
    max-width : 500px;
    width : 100%;
    margin : auto;
  }

.my-alert {
   @include 함수()
  }
  .my-alert-yellow {
    @extend .my-alert;// 배열 변경 시 기존 배열을 복사하는 앞 부분의 ... 연산자와 같은 역할
    background : #ffe591;
  }
  
.my-alert p {
    margin-bottom : 0;
  }

